# Data Science Academy
### Fundamentos de Linguagem Python Para Análise de Dados e Data Science
### Capítulo 4 - Variáveis e Operadores

In [3]:
# Versão da linguagem Python
from platform import python_version
print("Versão da Linguagem Python Usada Neste Jupyter Notebook: ", python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook:  3.10.9

In [4]:
# Atribuindo o valor 1 variável var_teste
var_teste = 1

In [5]:
# Imprimindo o valor da variável var_teste
var_teste

1

In [7]:
# Imprimindo o valor da variável var_teste
print(var_teste)

1

In [8]:
# Não podemos utilizar uma variável que não foi definida. Leia a mensagem de erro.
my_var

NameError: name 'my_var' is not defined

In [9]:
var_teste = 2

In [10]:
var_teste

2

In [11]:
type(var_teste)

int

In [12]:
var_teste = 9.5

In [14]:
type(var_teste)

float

In [15]:
x = 1

In [16]:
x

1

### Declaração Mútipla

In [17]:
pessoa1, pessoa2, pessoa3 = "Jovam", "Jaqueline", "José Maria"

In [19]:
pessoa1

'Jovam'

In [21]:
pessoa2

'Jaqueline'

In [22]:
pessoa3

'José Maria'

In [24]:
fruta1 = fruta2 = fruta3 = "Melancia"

In [26]:
fruta1

'Melancia'

In [27]:
fruta2

'Melancia'

In [29]:
fruta3

'Melancia'

In [30]:
# Fique atento!!! Python é case-sensitive. Criamos a variável fruta2, mas não a variável Fruta2. 
# Letras maiúsculas e minúsculas tem diferença no nome da variável.
Fruta2

NameError: name 'Fruta2' is not defined

#### Pode-se usar letras, números e underline em nome de variável (mas não se pode começar com números).

In [4]:
x1 = 50

In [6]:
x1

50

In [7]:
# Mensagem de erro, pois a linguagem Python não permite nomes de variáveis que iniciem com números.

In [8]:
1x = 50

SyntaxError: invalid decimal literal (4144205018.py, line 1)

>  Não se pode usar palavras reservadas como nome de variável

- False      
- class      
- finally    
- is         
- return
- None       
- continue   
- for        
- lambda     
- try
- True       
- def        
- from       
- nonlocal   
- while
- and        
- del        
- global     
- not        
- with
- as         
- elif       
- if         
- or         
- yield
- assert     
- else       
- import     
- pass
- break      
- except     
- in         
- raise

In [9]:
# Não podemos usar palavras reservadas como nome de variável
break = 10

SyntaxError: invalid syntax (3196850702.py, line 2)

### Variáveis Atribuídas a oytras Variáveis e Ordem dos Operadores

In [10]:
largura = 2

In [11]:
altura = 4

In [13]:
area = largura * altura

In [14]:
area

8

In [15]:
perímetro = 2 * largura + 2 * altura

In [16]:
perímetro

12

In [17]:
# A ordem dos operadores é a mesma seguida na Matemática
perímetro = 2 * (largura + 2) * altura

In [18]:
perímetro

32

### Operações Com Variáveis

In [21]:
idade1 = 25

In [22]:
idade2 = 35

In [23]:
idade1 + idade2

60

In [24]:
idade2 - idade1

10

In [25]:
idade1 * idade2

875

In [28]:
idade2 / idade1

1.4

In [27]:
idade2 % idade1

10

### Concatenação de Variáveis

In [29]:
nome = "Bob"

In [30]:
sobrenome = "Marley"

In [31]:
fullname = nome + " " + sobrenome

In [32]:
fullname

'Bob Marley'

### Fim

### Obrigado

### Visite o Blog da Data Science Academy - Blog DSA