## Data Science Academy
### Fundamentos da Linguagem Python Para Análise de Dados e Data Science
### Capítulo 4 - Estrutura de Dados (Tuplas)

In [1]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Notebook: ', python_version())

Versão da Linguagem Python Usada Neste Notebook:  3.10.9

### Trabalhando com Tuplas

In [2]:
# Criando uma Tupla
tupla1 = ('Geográfia', 23, 'Elefantes', 9.8, 'Python')

In [3]:
# Imprimindo a tupla
tupla1

('Geográfia', 23, 'Elefantes', 9.8, 'Python')

In [4]:
# Tuplas não suportam append()
tupla1.append('Chocolate')

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
# Tuplas não suportam delete de um item específico
del tupla1['Elefante']

TypeError: 'tuple' object does not support item deletion

In [7]:
# Tuplas podem ter um único item
tupla1 = ('Chocolate')

In [8]:
tupla1

'Chocolate'

In [9]:
tupla1 = ('Geográfia', 23, 'Elefantes', 9.8, 'Python')

In [10]:
tupla1[0]

'Geográfia'

In [11]:
# Verificando o comprimento da Tupla
len(tupla1)

5

In [15]:
# Slicing, da mesma forma que se faz com Listas
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [17]:
tupla1.index('Elefantes')

2

In [19]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [20]:
# Deletando uma Tupla
del tupla1

In [21]:
tupla1

NameError: name 'tupla1' is not defined

In [22]:
# Criando uma Tupla
t2 = ('A', 'B', 'C')

In [23]:
t2

('A', 'B', 'C')

In [24]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [25]:
# Usando a função list() para converter uma tupla em Lista
lista_t2 = list(t2)

In [31]:
type(t2)

tuple

In [32]:
type(lista_t2)

list

In [26]:
lista_t2

['A', 'B', 'C']

In [27]:
lista_t2.append('D')

In [28]:
lista_t2

['A', 'B', 'C', 'D']

In [29]:
# Usando a função tuple() para converte uma Lista em Tupla
t2 = tuple(lista_t2)

In [30]:
t2

('A', 'B', 'C', 'D')

### Fim
### Obrigado
### Visite o Blog da Data Science Academy - Blog DSA